@charset "utf-8";

/* Structures */
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.container {
  width: 750px;
  margin: auto;
}

main {
  padding-top: 30px;
}

.scroller {
  position: fixed;
  bottom: 50px;
  right: 300px;
}

.control-button {
  width: 41px;
  height: 41px;
  padding: 13px;
  cursor: pointer;
  border: 1px solid #CCCCCC;
  text-align: center;
  background: #FFF;
  position: relative;
}

.scroll-up {
  width: 15px;
  height: 15px;
  border-left: 3px solid #888;
  border-top: 3px solid #888;
  transform: rotate(45deg);
}

.scroll-down {
  width: 15px;
  height: 15px;
  border-right: 3px solid #888;
  border-bottom: 3px solid #888;
  transform: rotate(45deg);
}

.hyper-link {
  max-width: 75%;
  widows: auto;
  max-height: 75%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.secondary-nav {
  position: absolute;
}

/* Skins */
.text-dark {
  color: #6A6A6A;
}

.text-content {
  line-height: 1.5;
  font-size: 1.3em;
}

.text-nav {
}

.text-secondary-nav {
}

.text-header1 {
  font-size: 3em;
  font-weight: 600;
}

.bg-white {
  background: #FFFFFF;
}

.initially-hide {
  display: none;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
}

.navbar a {
  color: #888888;
  text-decoration: none;
}

.navbar a:hover {
  color: #333333;
}

.tool-button {
  border: 1px solid #FFFFFF;
}

.tool-button-active {
  background: #DDDDDD;
  border: 1px solid #AAAAAA;
}

.tool-button:hover {
  background: #EEEEEE;
  border: 1px solid #AAAAAA;
}

.nav-item {
}

.nav-link {
  display: block;
  padding: 6px 20px;
}

.secondary-nav {
}

.secondary-navbar {
  border-bottom: none;
}

.secondary-nav-item {
}